nav {
  background: #111827;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;

  a {
    color: #fff;
    font-weight: bold;
    transition: 0.3s;

    &:hover {
      color: #00c3ff;
    }
  }
}